h1 {
    color: rgb(47, 0, 100);
    font-family: 'Times New Roman', Times, serif;
    margin-left: 30px;
}

.header{
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    margin-top: 50px;
    display: flex;
}

p,h2{
    text-align: center;
}


a:link{
    color: rgba(73, 73, 243, 0.897);
}

.menu{
    margin-top: 30px;
    margin-right: 40px;
}

.menu a{
    margin-left: 25px;
}

.item1{
    position: absolute;
    margin-top: 0px;
    margin-left: 50px;
}

.item1 p{
    position: absolute;
    top: 50%; 
    left: 50%;
    opacity: 1;
}


.item2{
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
}

.item2 p{
    position: absolute;
    top: 50%; 
    left: 50%;
    opacity: 1;
}

.descri{
    margin-left: 700px;
    margin-top: 200px;
}

.descri1{
    margin-left: 750px;
    margin-top: 400px
}


.descrip{

    margin-top: 50px;
}